#
# ADC drivers
#
# When adding new entries keep the list in alphabetical order
menuconfig AMLOGIC_ADC
	bool "ADC device driver support"
	default n
	help
		Say yes here to build support for Analog Devices AD7785, AD7792, AD7793,
		AD7794 and AD7795 SPI analog to digital converters (ADC).
		If unsure, say N (but it's safe to say "Y").

		To compile this driver as a module, choose M here: the
		module will be called AD7793.

config MESON_AD7793
	tristate "Analog Devices AD7793 and similar ADCs driver"
	depends on SPI
	depends on AMLOGIC_ADC
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to build support for Analog Devices AD7785, AD7792, AD7793,
	  AD7794 and AD7795 SPI analog to digital converters (ADC).
	  If unsure, say N (but it's safe to say "Y").

	  To compile this driver as a module, choose M here: the
	  module will be called AD7793.