config AMLOGIC_DEBUG
    boolean "Amlogic kernel debug"
    default n
    help
        This is Amlogic kernel debug

config AMLOGIC_DEBUG_LOCKUP
    boolean "Amlogic lockup debug"
    depends on LOCKUP_DETECTOR
    depends on BOOTPARAM_HARDLOCKUP_PANIC
    depends on BOOTPARAM_SOFTLOCKUP_PANIC
    depends on AMLOGIC_DEBUG
    default n
    help
        This is Amlogic kernel lockup debug.
        Debug lockup in isr and deadlock with irq disabled.
